<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Road Trip Radar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BC3205F81D3063F7007D3E1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC32060C1D3063F7007D3E1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC3206171D3063F7007D3E1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
